<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
	{{#if webpackAssets.css}}
		<link rel="stylesheet" href="{{webpackAssets.css}}">
	{{/if}}
	<div class="container">
		{{{ body }}}
	</div>
	{{#if webpackAssets.js}}
		<script src="{{webpackAssets.js}}"></script>
	{{/if}}
</body>
</html>
