.mod-predefined-replacements:not(.mod-predefined-replacements-all) {
	height: 90px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}
.mod-predefined-replacements:not(.mod-predefined-replacements-all):after {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	content: "";
	background: linear-gradient(
		to top,
		rgba(255,255,255, 1) 0%, 
		rgba(255,255,255, 0) 70%
	);
	pointer-events: none;
}
