.table50p {
	width: 50%;
}

.table-items-list td {
	height: 60px;
}

.table-item-switch,
.table-item-delete {
	width: 60px;
}
.table-item-select,
.table-item-text:not(.table-item-text-long) {
	width: 125px;
}
.table-item-select .select-wrapper {
	width: 95px;
}
.table-item-select .select-wrapper input.select-dropdown {
	margin: -11px 0 -12px;
	font-size: 15px;
}
.table-item-text:not(.table-item-text-long) input[type=text]:not(.browser-default) {
	width: 100px !important;
}
.table-item-text input[type=text]:not(.browser-default) {
	margin: -11px 0 -11px;
	font-size: 15px;
}
.table-item-text .z-depth-3 {
	margin-left: -.5rem;
	background-color: #fff;
	padding: 1.5rem .5rem;
}
.table-item-chips {
	width: 175px;
}
.table-item-chips .z-depth-3 {
	position: absolute;
	margin: -33px 0 0 0;
	background-color: #fff;
	padding: 2px 8px;
}
.table-item-chips .z-depth-3 .input-field {
	margin: .5rem 0;
	min-width: 139px;
}

.item-delete {
	cursor: pointer;
}

.table-item-add-btn {
	float: right;
	margin-top: 20px;
}


#toast-container {
  top: auto !important;
  right: 20px !important;
  bottom: 20px;
}

.nav-wrapper li {
	margin: 0 3px;
}
.nav-wrapper .avatar {
	width: 36px;
	border-radius: 50%;
	margin-top: 14px;
}
